        @media only screen and (max-width: 600px) {
            .container {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                margin-top: 7vh;
                justify-items: center;
            }
            header h1 {
                width: 100%;
            }
            .modalDisplay {
                background-color: rgba(0, 0, 0, 0);
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 9999999;
                display: none;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                top: 0;
                -webkit-border-radius: 00px;
                border-radius: 0px;
                border-width: 0px;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border: 0px solid #ffffff;
                border-radius: 0px;
            }
            .wrapper {
                height: 0;
            }
            #canvas {
                display: none;
            }
            .borderMain {
                display: none;
            }
            header h1 {
                font-size: 20px;
            }
            main {
                padding-top: 15vh;
            }
            #compBody,
            #experienceBody,
            #formationBody,
            #passionBody,
            #contactBody {
                background-size: 3.5rem;
                background-position: center;
            }
            .container section {
                height: 125px;
                width: 125px;
            }
            .cardSec {
                width: 60%;
            }
            @keyframes slideDown {}
            @keyframes slideUp {}
            @keyframes turn360 {}
            @keyframes turnM360 {}
        }