@media only screen and (max-width: 1400px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 3vh;
        justify-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .container section h2 {
        font-size: 18px;
    }
    .container section {
        height: 150px;
        width: 150px;
    }
    #compBody,
    #experienceBody,
    #formationBody,
    #passionBody,
    #contactBody {
        background-size: 5.5rem;
        background-position: center;
    }
}